# Preprocesamiento de Datos

In [6]:
# Importar librerías
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [7]:
# Importar la base datos:
df = pd.read_csv('census.csv')

In [8]:
# Realizar dataset:
df.head()

,age,workclass,education,race,sex,hours_per_week,USA_born,label
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K

In [9]:
# Información de las columnas:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41716 entries, 0 to 41715
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41617 non-null  float64
 1   workclass       41705 non-null  object
 2   education       41702 non-null  object
 3   race            41700 non-null  object
 4   sex             41701 non-null  object
 5   hours_per_week  41631 non-null  float64
 6   USA_born        41701 non-null  float64
 7   label           41716 non-null  object
dtypes: float64(3), object(5)
memory usage: 2.5+ MB

                age  hours_per_week      USA_born
count  41617.000000    41631.000000  41701.000000
mean      38.476608       40.743220      0.895062
std       13.365972       12.000085      0.306477
min       17.000000        1.000000      0.000000
25%       28.000000       40.000000      1.000000
50%       37.000000       40.000000      1.000000
75%       47.000000       45.000000      1.000000
max       90.000000       99.000000      1.000000

In [10]:
# Verificar si hay datos faltantes:
print(df.isnull().sum())
print(df.isnull().sum().sum())

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64
255

In [11]:
# Eliminar las filas que tengan 3 o más datos faltantes:
filasantes = len(df)
df = df[df.isnull().sum(axis=1) < 3]
filasdespues = len(df)
filaseliminadas = filasantes - filasdespues

print(f"Filas antes: {filasantes}")
print(f"Filas después: {filasdespues}")
print(f"Filas eliminadas: {filaseliminadas}")

Filas antes: 41716
Filas después: 41694
Filas eliminadas: 22

In [12]:
# Contar nuevamente los datos faltantes:
print(df.isnull().sum())
print(df.isnull().sum().sum())

age               85
workclass          0
education          0
race               0
sex                0
hours_per_week    68
USA_born           0
label              0
dtype: int64
153

In [13]:
# Imputar los datos faltantes de edad y horas trabajadas por semana con la mediana de cada una de esas columnas:
df['age'] = df['age'].fillna(df['age'].median())
df['hours_per_week'] = df['hours_per_week'].fillna(df['hours_per_week'].median())

In [14]:
# Contar de nuevo los datos faltantes:
print(df.isnull().sum())
print(df.isnull().sum().sum())

age               0
workclass         0
education         0
race              0
sex               0
hours_per_week    0
USA_born          0
label             0
dtype: int64
0

In [15]:
# Aplicar one-hot encoding a la columna "workclass":
df = pd.get_dummies(df, columns=['workclass'], prefix='workclass')
df.head()

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39.0,Bachelors,White,Male,40.0,1.0,<=50K,False,False,False,False,False,True,False
1,50.0,Bachelors,White,Male,13.0,1.0,<=50K,False,False,False,False,True,False,False
2,38.0,High-school,White,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
3,53.0,Some-high-school,Black,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
4,28.0,Bachelors,Black,Female,40.0,0.0,<=50K,False,False,True,False,False,False,False

In [16]:
# Encontrar los valores que toma la columna "education":
print(df['education'].unique())
print(df['education'].nunique())

['Bachelors' 'High-school' 'Some-high-school' 'Masters' 'Some-college'
 'Middle-school' 'Doctorate' 'Some-middle-school' 'Preschool'
 'Elementary-school']
10

In [17]:
# Aplicar ordinal encoding a la columna "education":
oe= OrdinalEncoder()
df['education'] = oe.fit_transform(df[['education']])
df.head()

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39.0,0.0,White,Male,40.0,1.0,<=50K,False,False,False,False,False,True,False
1,50.0,0.0,White,Male,13.0,1.0,<=50K,False,False,False,False,True,False,False
2,38.0,3.0,White,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
3,53.0,8.0,Black,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
4,28.0,0.0,Black,Female,40.0,0.0,<=50K,False,False,True,False,False,False,False

In [18]:
# Comprobar que la columna "education" tenga los valores apropiados:
print(df['education'].unique())
print(df['education'].nunique())
print(f"\nRango: {df['education'].min()} a {df['education'].max()}")

[0. 3. 8. 4. 7. 5. 1. 9. 6. 2.]
10

Rango: 0.0 a 9.0

In [19]:
# Aplicar one-hot encoding a la columna "race":
df = pd.get_dummies(df, columns=['race'], prefix='race')
df.head()

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,0.0,Male,40.0,1.0,<=50K,False,False,False,False,False,True,False,False,False,False,False,True
1,50.0,0.0,Male,13.0,1.0,<=50K,False,False,False,False,True,False,False,False,False,False,False,True
2,38.0,3.0,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False,False,False,False,False,True
3,53.0,8.0,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False,False,False,True,False,False
4,28.0,0.0,Female,40.0,0.0,<=50K,False,False,True,False,False,False,False,False,False,True,False,False

In [20]:
# Apliqcar binary encoding a la columna "sex":
le= LabelEncoder()
df["sex"]= le.fit_transform(df["sex"])
df.head()

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,0.0,1,40.0,1.0,<=50K,False,False,False,False,False,True,False,False,False,False,False,True
1,50.0,0.0,1,13.0,1.0,<=50K,False,False,False,False,True,False,False,False,False,False,False,True
2,38.0,3.0,1,40.0,1.0,<=50K,False,False,True,False,False,False,False,False,False,False,False,True
3,53.0,8.0,1,40.0,1.0,<=50K,False,False,True,False,False,False,False,False,False,True,False,False
4,28.0,0.0,0,40.0,0.0,<=50K,False,False,True,False,False,False,False,False,False,True,False,False

In [21]:
# Aplicar binary encoding a la columna "label":
le= LabelEncoder()
df["label"]= le.fit_transform(df["label"])
df.head()

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,0.0,1,40.0,1.0,0,False,False,False,False,False,True,False,False,False,False,False,True
1,50.0,0.0,1,13.0,1.0,0,False,False,False,False,True,False,False,False,False,False,False,True
2,38.0,3.0,1,40.0,1.0,0,False,False,True,False,False,False,False,False,False,False,False,True
3,53.0,8.0,1,40.0,1.0,0,False,False,True,False,False,False,False,False,False,True,False,False
4,28.0,0.0,0,40.0,0.0,0,False,False,True,False,False,False,False,False,False,True,False,False

In [22]:
# Veamos la infomación final del dataset:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 41694 entries, 0 to 41715
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         41694 non-null  float64
 1   education                   41694 non-null  float64
 2   sex                         41694 non-null  int64
 3   hours_per_week              41694 non-null  float64
 4   USA_born                    41694 non-null  float64
 5   label                       41694 non-null  int64
 6   workclass_Federal-gov       41694 non-null  bool
 7   workclass_Local-gov         41694 non-null  bool
 8   workclass_Private           41694 non-null  bool
 9   workclass_Self-emp-inc      41694 non-null  bool
 10  workclass_Self-emp-not-inc  41694 non-null  bool
 11  workclass_State-gov         41694 non-null  bool
 12  workclass_Without-pay       41694 non-null  bool
 13  race_Amer-Indian-Eskimo     41694 non-null  bool
 14  race_Asian-Pac-Islander     41694 non-null  bool
 15  race_Black                  41694 non-null  bool
 16  race_Other                  41694 non-null  bool
 17  race_White                  41694 non-null  bool
dtypes: bool(12), float64(4), int64(2)
memory usage: 2.7 MB

,age,education,sex,hours_per_week,USA_born,label
count,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000
mean,38.471651,4.043316,0.676045,40.742529,0.895045,0.237372
std,13.351404,2.747751,0.467989,11.990589,0.306499,0.425477
min,17.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,3.000000,0.000000,40.000000,1.000000,0.000000
50%,37.000000,3.000000,1.000000,40.000000,1.000000,0.000000
75%,47.000000,7.000000,1.000000,45.000000,1.000000,0.000000
max,90.000000,9.000000,1.000000,99.000000,1.000000,1.000000

In [23]:
# Verificar el tipo de dato de cada columna:
print(df.dtypes)

age                           float64
education                     float64
sex                             int64
hours_per_week                float64
USA_born                      float64
label                           int64
workclass_Federal-gov            bool
workclass_Local-gov              bool
workclass_Private                bool
workclass_Self-emp-inc           bool
workclass_Self-emp-not-inc       bool
workclass_State-gov              bool
workclass_Without-pay            bool
race_Amer-Indian-Eskimo          bool
race_Asian-Pac-Islander          bool
race_Black                       bool
race_Other                       bool
race_White                       bool
dtype: object

In [24]:
# Cargar el dataset a un nuevo archivo CSV:
df.to_csv('census_preprocessed.csv', index=False)