# Preprocesamiento de Datos - Ejemplo Práctico

En esta demostración se preprocesará un conjunto de datos de población estadounidense. Los datos utilizados son un subconjunto modificado de [este set de datos](https://archive.ics.uci.edu/ml/datasets/Adult) y se encuentran en el archivo `census.csv`.

In [282]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [283]:
# Importemos los datos:
df = pd.read_csv('census.csv')

In [284]:
# Veamos el dataset:
df.head()

,age,workclass,education,race,sex,hours_per_week,USA_born,label
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K

In [285]:
# Descripción de las columnas:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41716 entries, 0 to 41715
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41617 non-null  float64
 1   workclass       41705 non-null  object
 2   education       41702 non-null  object
 3   race            41700 non-null  object
 4   sex             41701 non-null  object
 5   hours_per_week  41631 non-null  float64
 6   USA_born        41701 non-null  float64
 7   label           41716 non-null  object
dtypes: float64(3), object(5)
memory usage: 2.5+ MB

                age  hours_per_week      USA_born
count  41617.000000    41631.000000  41701.000000
mean      38.476608       40.743220      0.895062
std       13.365972       12.000085      0.306477
min       17.000000        1.000000      0.000000
25%       28.000000       40.000000      1.000000
50%       37.000000       40.000000      1.000000
75%       47.000000       45.000000      1.000000
max       90.000000       99.000000      1.000000

In [286]:
# Verifiquemos si hay datos faltantes:
print(df.isnull().sum())
print(df.isnull().sum().sum())

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64
255

In [287]:
# Descartemos las filas que tengan 3 o más datos faltantes:
filasantes = len(df)
df = df[df.isnull().sum(axis=1) < 3]
filasdespues = len(df)
filaseliminadas = filasantes - filasdespues

print(f"Filas antes: {filasantes}")
print(f"Filas después: {filasdespues}")
print(f"Filas eliminadas: {filaseliminadas}")

Filas antes: 41716
Filas después: 41694
Filas eliminadas: 22

In [288]:
# Contemos de nuevo los datos faltantes:
print(df.isnull().sum())
print(df.isnull().sum().sum())

age               85
workclass          0
education          0
race               0
sex                0
hours_per_week    68
USA_born           0
label              0
dtype: int64
153

In [289]:
# Imputemos los datos faltantes de edad y horas trabajadas por semana con la mediana de cada una de esas columnas:
df['age'] = df['age'].fillna(df['age'].median())
df['hours_per_week'] = df['hours_per_week'].fillna(df['hours_per_week'].median())

In [290]:
# Contemos de nuevo los datos faltantes:
print(df.isnull().sum())
print(df.isnull().sum().sum())

age               0
workclass         0
education         0
race              0
sex               0
hours_per_week    0
USA_born          0
label             0
dtype: int64
0

In [291]:
# Apliquemos one-hot encoding a la columna "workclass":
df = pd.get_dummies(df, columns=['workclass'], prefix='workclass')
df.head()

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39.0,Bachelors,White,Male,40.0,1.0,<=50K,False,False,False,False,False,True,False
1,50.0,Bachelors,White,Male,13.0,1.0,<=50K,False,False,False,False,True,False,False
2,38.0,High-school,White,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
3,53.0,Some-high-school,Black,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
4,28.0,Bachelors,Black,Female,40.0,0.0,<=50K,False,False,True,False,False,False,False

In [292]:
# Hallemos los valores que toma la columna "education":
print(df['education'].unique())
print(df['education'].nunique())

['Bachelors' 'High-school' 'Some-high-school' 'Masters' 'Some-college'
 'Middle-school' 'Doctorate' 'Some-middle-school' 'Preschool'
 'Elementary-school']
10

In [293]:
# Apliquemos ordinal encoding a la columna "education":
oe= OrdinalEncoder()
df['education'] = oe.fit_transform(df[['education']])
df.head()

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39.0,0.0,White,Male,40.0,1.0,<=50K,False,False,False,False,False,True,False
1,50.0,0.0,White,Male,13.0,1.0,<=50K,False,False,False,False,True,False,False
2,38.0,3.0,White,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
3,53.0,8.0,Black,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False
4,28.0,0.0,Black,Female,40.0,0.0,<=50K,False,False,True,False,False,False,False

In [294]:
# Verifiquemos que la columna "education" tenga los valores apropiados:
print(df['education'].unique())
print(df['education'].nunique())
print(f"\nRango: {df['education'].min()} a {df['education'].max()}")

[0. 3. 8. 4. 7. 5. 1. 9. 6. 2.]
10

Rango: 0.0 a 9.0

In [295]:
# Apliquemos one-hot encoding a la columna "race":
df = pd.get_dummies(df, columns=['race'], prefix='race')
df.head()

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,0.0,Male,40.0,1.0,<=50K,False,False,False,False,False,True,False,False,False,False,False,True
1,50.0,0.0,Male,13.0,1.0,<=50K,False,False,False,False,True,False,False,False,False,False,False,True
2,38.0,3.0,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False,False,False,False,False,True
3,53.0,8.0,Male,40.0,1.0,<=50K,False,False,True,False,False,False,False,False,False,True,False,False
4,28.0,0.0,Female,40.0,0.0,<=50K,False,False,True,False,False,False,False,False,False,True,False,False

In [303]:
# Apliquemos binary encoding a la columna "sex":
le= LabelEncoder()
df["sex"]= le.fit_transform(df["sex"])
df.head()

Index(['age', 'education', 'sex', 'hours_per_week', 'USA_born', 'label',
       'workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Private',
       'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc',
       'workclass_State-gov', 'workclass_Without-pay',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White'],
      dtype='object')

In [297]:
# Apliquemos binary encoding a la etiqueta:

In [298]:
# Veamos el dataset resultante:

In [299]:
# Veamos la nueva descripción del dataset:

In [300]:
# Verifiquemos el tipo de dato de cada columna:

In [301]:
# Carguemos el dataset a un nuevo archivo: